.nav-linkk{
    --bs-nav-tabs-link-active-bg:#6c757d !important;
  
}
.nav-link {
    color: whitesmoke !important;
}
@media (max-width: 576px) {



}
@media (min-width: 1200px) {

    
}
.back {
    background: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
   
}